---
import { Image } from 'astro:assets';
---

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <style>
        /* Tu CSS aquí (sin cambios) */
    </style>
</head>
<body class="font-[Raleway]">
    <header id="Header">
        <a href="/">
            <img class='logo' src="KREA.png" alt="Logo Krea"/>
        </a>
        <ion-icon id="menuIcon" name="menu-outline" class="text-3xl cursor-pointer text-white"></ion-icon>
        <ul class="menu" id="navMenu">
            <li>
                <a class="item" href="/nosotros">Nosotros</a>
            </li>
            <li>
                <a class="item" href="/servicios">Servicios</a>
            </li>
            <li>
                <a class="item" href="/convocatorias">Convocatorias</a>
            </li>
            <li>
                <a class="item" href="/blog">Blog</a>
            </li>
            <li>
                <a class="contacto" href="/contacto">Contacto</a>
            </li>
        </ul>
    </header>

    <script>
        function setupNavbar() {
            const menuIcon = document.getElementById('menuIcon');
            const navMenu = document.getElementById('navMenu');
            const header = document.getElementById('Header');

            if (menuIcon && navMenu && header) {
                menuIcon.addEventListener('click', () => {
                    navMenu.classList.toggle('show');
                    menuIcon.setAttribute('name', menuIcon.getAttribute('name') === 'menu-outline' ? 'close-outline' : 'menu-outline');
                });

                window.addEventListener('scroll', () => {
                    if (window.scrollY > 0) {
                        header.style.boxShadow = '1px 1px 15px rgba(0, 0, 0, 0.3)';
                    } else {
                        header.style.boxShadow = 'none';
                    }
                });
            }
        }

        // Ejecutar la función cuando el DOM esté listo
        document.addEventListener('DOMContentLoaded', setupNavbar);

        // Ejecutar la función cuando Astro haya terminado de cargar la página
        document.addEventListener('astro:page-load', setupNavbar);
    </script>
</body>
</html>
