---
import ContentMedia from "./ContentMedia.astro";
let img_path = "../../public/Resources/main-content1.svg";
import 'aos/dist/aos.css'; 
---

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./Styles/GlobalCss.css" />
    <style>
        body {
            font-family: "Raleway";
            overflow-x: hidden;
            margin: 0;
            padding: 0;
            box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
        }

        .content-estadisticas {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            padding: 0px 70px 50px 70px;
            box-sizing: border-box; /* Ensure padding is included in the total width */
        }

        .estadisticas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            margin-top: 1rem;
            width: 100%;
            max-width: 250px; /* Tamaño máximo para las tarjetas */
            text-align: center;
            gap: 1rem;
            flex: 1 1 25%; /* Distribuye las tarjetas uniformemente */
            box-sizing: border-box; /* Ensure padding is included in the total width */
        }

        .estadisticas h2 {
            font-family: 'Raleway';
            font-size: 1.3em;
            font-weight: 400;
            color: #333;
            margin: 0;
        }

        .icon {
            font-size: 50px;
            color: #41bbb1;
        }

        @media (max-width: 1024px) {
            .content-estadisticas {
                flex-wrap: wrap;
                padding: 0px 20px 50px 20px;
            }

            .estadisticas {
                flex: 1 1 45%; /* Ajusta el tamaño de las tarjetas en pantallas más pequeñas */
            }
        }

        @media (max-width: 768px) {
            .content-estadisticas {
                flex-wrap: wrap;
                padding: 0px 10px 50px 10px;
            }

            .estadisticas {
                flex: 1 1 100%; /* Las tarjetas ocuparán el 100% del ancho disponible en pantallas pequeñas */
            }
        }
    </style>
</head>
<body>
    <div class="content-estadisticas">
        <div class="estadisticas" data-aos="fade-right" data-aos-delay="300">
            <i class="fa-solid fa-check-double icon"></i>
            <h2>Encuentra un aspecto diferenciador</h2>
        </div>
        <div class="estadisticas" data-aos="fade-down" data-aos-delay="300">
            <i class="fa-solid fa-sack-dollar icon"></i>
            <h2>Accede a beneficios tributarios y regalías</h2>
        </div>
        <div class="estadisticas" data-aos="fade-left" data-aos-delay="300">
            <i class="fa-solid fa-award icon"></i>
            <h2>Potencia el éxito de tu empresa</h2>
        </div>
    </div>
    <script>
        import AOS from 'aos';
        AOS.init();
    </script>
</body>
</html>

