---
import DefaultLayout from "../layouts/DefaultLayout.astro"
import Home from "../components/Home.astro"
import LoadingScreen from "../components/LoadingScreen.astro";

---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krea Proyectos</title>
    <link rel="icon" type="image/png" href="../../public/Resources/krea-i.png">
</head>
<body>
    <LoadingScreen />
    <DefaultLayout>
      <Home />
    </DefaultLayout>
</body>
</html>




